
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #4b744b;
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.contact {
    background-color: #ffffff;
    padding: 40px 20px;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 36px;
}

.social-icon {
    color: #4CAF50;
    text-decoration: none;
}

.social-icon:hover {
    color: #4b744b;
}


footer {
    background-color: #264428;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}

